<div class="other-links">
    <div>
        <a href="https://github.com/nicho-reyes" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/nicho-reyes/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://stackoverflow.com/users/3815123/nicho-reyes" target="_blank">
            <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        </a>
        <a href="mailto:reyes.nicho@gmail.com" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
    </div>
    <div></div>
</div>
