<app-navigation [aboutOffset]="aboutOffset" [contactOffset]="contactOffset" [historyOffset]="historyOffset"
                [introOffset]="introOffset"></app-navigation>

<app-links></app-links>

<div class="main-content">
    <div id="intro" class="section" #intro>
        <div class="section-main-content">
            <div class="intro-container">
                <br/>
                <div class="intro-sub-title">Hello World! My name is</div>
                <br/>
                <div class="title">Nicho Reyes.</div>
                <div class="title-description">I build things in the Web.</div>
                <br/>
                <br/>
                <div class="description">
                    <div>
                        I'm a software developer based in Manila, Philippines.
                        <br>
                        I like solving problems and doing innovations in the web.
                        <br>
                        I specialize in creating and building software, websites, applications and anything in
                        between.
                    </div>
                    <div>
                    </div>
                </div>

                <a class="link-button" href="mailto:reyes.nicho@gmail.com">Get in touch</a>
            </div>
        </div>
    </div>

    <div class="section" id="about" #about>
        <div class="section-main-content">
            <div class="section-title">
                <h1><span class="nav-order">i.</span> About Me</h1>
            </div>
            <div class="section-content-container">
                <div class="section-content">
                    <div class="left">
                        <div class="about-img">
                            <img src="../../assets/img/about.png">
                        </div>

                        <p>
                            Hello! I'm Nicho, a software developer based in Manila, Philippines. I've been in the
                            software
                            development industry since
                            2010.
                        </p>
                        <br>
                        <p>
                            I have passion in solving different set of problems and creating solutions that matter.
                            Whether that is in form of a website or an application.
                            My goal is to always deliver a production-ready solution with maximum user satisfaction in
                            mind.
                        </p>
                    </div>

                    <div class="section-sub-content right">

                        <h1>
                            <i class="fa fa-code" aria-hidden="true"></i> Development
                        </h1>

                        <div class="dev-items">
                            <ul>
                                <li class="dev-item-stack">
                                    JavaScript
                                </li>
                                <li class="dev-item-stack">
                                    HTML
                                </li>
                                <li class="dev-item-stack">
                                    CSS
                                </li>
                                <li class="dev-item-stack">
                                    Angular
                                </li>
                                <li class="dev-item-stack">
                                    C#
                                </li>
                                <li class="dev-item-stack">
                                    Java
                                </li>
                                <li class="dev-item-stack">
                                    Python
                                </li>
                            </ul>
                        </div>


                        <div class="dev-tools-knowledge">
                            <div>
                                <h1>
                                    <i class="fa fa-wrench" aria-hidden="true"></i> Tools
                                </h1>
                                <div class="dev-items dev-item-tools">
                                    <ul>
                                        <li class="dev-item-tool">
                                            Chrome Developer Tools
                                        </li>
                                        <li class="dev-item-tool">
                                            Command Line
                                        </li>
                                        <li class="dev-item-tool">
                                            Docker
                                        </li>
                                        <li class="dev-item-tool">
                                            Git
                                        </li>
                                        <li class="dev-item-tool">
                                            InnoSetup
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <h1>
                                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Knowledge
                                </h1>
                                <div class="dev-items dev-item-tools">
                                    <ul>
                                        <li class="dev-item-tool">
                                            ECMAScript 6
                                        </li>
                                        <li class="dev-item-tool">
                                            Usability
                                        </li>
                                        <li class="dev-item-tool">
                                            TDD
                                        </li>
                                        <li class="dev-item-tool">
                                            BDD
                                        </li>
                                        <li class="dev-item-tool">
                                            Scrum
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="history" #history>
        <div class="section-main-content">
            <app-work-history></app-work-history>
        </div>
    </div>

    <div class="section contact" #contact>
        <div class="section-main-content" id="contact">
            <div>
                <div class="section-title">
                    <h1><span class="nav-order">iii.</span> Let's stop being strangers!</h1>
                </div>
                <p>
                    I'm always open for interesting projects and/or opportunities, feel free to send me a mail 😀
                </p>

                <br>
                <br>
                <a class="link-button" href="mailto:reyes.nicho@gmail.com">
                    <button>Say Hello</button>
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <span>Developed & Built by Nicho Reyes. All rights reserved.</span>
    <div>
        <a href="https://github.com/nicho-reyes" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/nicho-reyes/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://stackoverflow.com/users/3815123/nicho-reyes" target="_blank">
            <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        </a>
        <a href="mailto:reyes.nicho@gmail.com" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
    </div>
</footer>
