:host ::ng-deep {
  .nav-order {
    color: var(--link-secondary);
  }

  .main-content {
    padding: 5rem 5rem 0 5rem;

    display: flex;
    flex-direction: column;

    .section {
      min-height: 100vh;
      flex-flow: column wrap;
      align-self: center;
      max-width: 1366px;
      width: 100%;
      display: flex;
      align-content: center;

      &:first-child {
        .section-main-content {
          width: 70%;
        }
      }

      .section-main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: 5rem;

        .intro-container {
          .intro-sub-title {
            font-size: 1.25rem;
          }

          .title, .title-description {
            font-size: 3rem;
            font-weight: bold;
            color: var(--text-primary);
          }

          .title-description {
            color: var(--link-secondary);
          }

          .description {
            display: flex;
            flex-flow: row wrap;
            max-width: 400px;
            padding-bottom: 5rem;
          }
        }

        .coming-soon {
          flex-grow: 1;
          font-size: 5rem;
          font-weight: bold;
          justify-content: space-between;
        }
      }

      a.link-button {
        color: var(--text-primary);
        border: 1px solid var(--text-secondary);
        font-size: 16px;
        font-weight: 500;
        padding: 1.25rem 1.75rem;
        border-radius: 5px;

        &:hover {
          background: var(--link-primary);
          color: var(--bg-primary);
        }
      }

      .section-title {
        display: flex;
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;
        color: var(--text-secondary);
      }

      .section-sub-title {
        padding-left: 40px;
        font-size: 3rem;

        i {
          font-size: 2rem;
        }
      }

      &.contact {
        min-height: 80vh;
        width: 60%;

        > div {
          flex-grow: 1;
        }
      }

      .section-content-container {
        display: flex;
        justify-content: space-between;

        .section-content {
          display: flex;

          .section-sub-content {
            h1 {
              padding: 1rem;
              font-size: 1.5rem;
              font-weight: bold;
              color: var(--text-secondary);
            }
          }

          .left {
            padding: 1rem;
          }

          .dev-tools-knowledge {
            display: flex;
            flex-grow: 1;
            flex-flow: row wrap;
          }

          .dev-items {

            &.dev-item-tools {
              ul {
                flex-flow: row wrap;
              }
            }

            ul {
              list-style: none;
              margin-left: 0;
              text-indent: 1em;
              display: flex;
              flex-flow: row wrap;

              li {
                display: inline-flex;
                justify-content: center;
                border: 2px solid var(--text-secondary);
                border-radius: 50%;
                text-align: center;
                margin: .5rem .5rem .5rem 0;
                padding: 0;
                width: 100px;
                height: 100px;
                line-height: 7;
                align-items: center;

                &::before {
                  content: '';
                }

                &.dev-item-tool {
                  border: 0;
                  justify-content: flex-start;
                  border-radius: 0;
                  width: auto;
                  height: auto;
                  line-height: 1;

                  &::before {
                    margin-right: 0.5rem;
                    content: '✅';
                  }
                }
              }
            }
          }
        }
      }

      .about-img {
        display: flex;
        padding: 1rem;
        justify-content: center;

        img {
          border-radius: 50%;
        }
      }

      ul {
        list-style: none;
        margin-left: 0;
        text-indent: -1em;

        li::before {
          content: '✅';
        }
      }

      .btn-container {
        line-height: 5rem;

        a.btn {

          padding: 1.25rem;
          text-decoration: none;
          transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        }
      }

      .resume-container {
        margin-top: 3rem;
      }
    }
  }

  footer {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: var(--bg-secondary) 0 10px 30px -10px;

    i {
      padding: 1rem;
      color: var(--text-primary);

      &:hover {
        transform: scale(1.1) translate(0px, -3px);
        transition: all var(--transition-speed);
        color: var(--link-secondary);
      }
    }
  }

  @media only screen and (max-width: 767px) {

    .main-content {
      margin: 0;
      padding: 1rem;

      .section {
        padding: 2rem;

        &:first-child {
          .section-main-content {
            width: 100%;
          }
        }

        &.contact {
          width: 100%;
        }

        .intro-container {
          h1 {
            font-size: 3rem;
          }

          h2 {
            font-size: 2rem;
          }
        }

        .section-content-container {
          flex-direction: column;

          .section-content {
            flex-direction: column;
            .left {
              flex-direction: column;
              width: 100%;
            }

            .dev-items {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
