<header class="nav-parent">
    <nav class="main-navigation" role="navigation">
        <ul class="nav-bar">
            <div class="logo">
                <a href="#intro" class="nav-link" (click)="clearOverlay()">
                    <span>nR</span>
                </a>
            </div>

            <div [class.active]="mobileMenuOpen" class="nav-links aos-init aos-animate" data-aos="fade-down"
                 data-aos-delay="0">
                <li class="nav-item aos-init aos-animate">
                    <div></div>
                </li>
                <li data-aos="fade-down" data-aos-delay="300" class="nav-item aos-init aos-animate">
                    <a href="#about" class="nav-link" [ngClass]="{'active': currentActive === 1}"
                       (click)="clearOverlay()">
                        <span class="link-text"><span class="nav-order">i.</span> About Me</span>
                    </a>
                </li>

                <li data-aos="fade-down" data-aos-delay="300" class="nav-item aos-init aos-animate">
                    <a href="#history" class="nav-link" [ngClass]="{'active': currentActive === 2}"
                       (click)="clearOverlay()">
                        <span class="link-text"><span class="nav-order">ii.</span> Work History</span>
                    </a>
                </li>

                <li data-aos="fade-down" data-aos-delay="300" class="nav-item aos-init aos-animate">
                    <a href="#contact" class="nav-link" [ngClass]="{'active': currentActive === 3}"
                       (click)="clearOverlay()">
                        <span class="link-text"><span class="nav-order">iii.</span> Contact Me</span>
                    </a>
                </li>

                <li data-aos="fade-down" data-aos-delay="300" class="nav-item aos-init aos-animate">
                    <div class="theme-container">
                        <div class="light" title="view in light mode">
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                        </div>
                        <div class="toggle-wrapper">
                            <input id="switch" type="checkbox" (change)="themeChange()">
                            <label for="switch" id="toggle"></label>
                        </div>
                        <div class="dark" title="view in dark mode">
                            <i class="fa fa-moon-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>

                <li class="nav-item aos-init aos-animate extras">
                    <div>
                        <a href="https://github.com/nicho-reyes" target="_blank">
                            <i aria-hidden="true" class="fa fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/nicho-reyes/" target="_blank">
                            <i aria-hidden="true" class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://stackoverflow.com/users/3815123/nicho-reyes" target="_blank">
                            <i aria-hidden="true" class="fa fa-stack-overflow"></i>
                        </a>
                        <a href="mailto:reyes.nicho@gmail.com" target="_blank">
                            <i aria-hidden="true" class="fa fa-envelope"></i>
                        </a>
                    </div>
                </li>
            </div>

            <a (click)="openMobileMenu()" [class.open]="mobileMenuOpen" class="mobile-nav aos-init aos-animate"
               data-aos="fade-down" data-aos-delay="0">
                <div></div>
                <div></div>
                <div></div>
            </a>
        </ul>
    </nav>
</header>