
:host ::ng-deep {
  .nav-parent {
    position: fixed;
    width: 100%;
    display: flex;
    height: 10vh;

    box-shadow: var(--bg-secondary) 0 10px 30px -10px;
    background: var(--bg-tertiary);
    transform: translateY(0px);
    user-select: auto;
    padding: 0 3rem;
  }

  .main-navigation {
    transition: width 600ms ease;
    width: 100%;

    .nav-bar {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      height: 100%;

      .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        text-decoration: none;
        transition: var(--transition-speed);
      }

      .logo {
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'LeckerliOne';

        a {
          height: 100%;
        }
      }

      .nav-item {
        a {
          height: 100%;
        }
      }
    }
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
    flex-grow: 1;

    .extras {
      display: none;
    }
  }

  .nav-link {
    svg, i {
      width: 1rem;
      margin: 0 1.5rem;
      color: var(--link-secondary);
    }

    &.active {
      color: var(--link-secondary);
      font-weight: bold;
    }
  }

  .link-text {
    margin-right: .5rem;
    white-space: nowrap;
  }

  .logo-text {
    display: inline;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 50px;
  }

  .theme-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: -2rem;

    .toggle-wrapper {

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 45px;
        height: 25px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
        margin: 5px;

        &:after {
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          content: '';
          position: absolute;
          top: 3px;
          left: 3px;
          width: 19px;
          height: 19px;
          background: #fff;
          border-radius: 100%;
        }
      }

      #switch {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;

        &:checked + label {
          background: var(--link-primary);

          &:after {
            left: calc(100% - 3px);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
          }
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .nav-parent {
      padding: 0 1rem;

      .main-navigation {

        .nav-bar {
          justify-content: space-between;
          align-items: center;
        }

        .nav-links {
          width: 100%;
          margin: 0;
          position: fixed;
          right: 0;
          top: 0;
          height: 100vh;
          background-color: var(--bg-primary);
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateX(100%);
          font-size: 24px;
          display: flex;
          transition: transform var(--transition-speed) ease-in-out;

          .theme-container {
            margin: 0;
          }

          &.active {
            transform: translateX(0%);
          }

          li {
            line-height: 3rem;

            &:first-of-type, &:last-of-type {
              flex-grow: 1;
            }

            &:not(.extras) {
              width: 100%;
              display: flex;
              justify-content: center;

              a {
                display: flex;
                width: 100%;
                justify-content: center;
              }
            }

            &.extras {
              padding: 1rem;
              display: flex;
              flex-flow: column wrap;
              align-items: center;
              justify-content: flex-end;

              i {
                padding: 1rem;
              }
            }
          }

        }

        .mobile-nav {

          &.open {
            transform: translateZ(0);

            div:first-child {
              transform: rotate(-405deg) translate(-5px, 6px);
            }

            div:nth-child(2) {
              opacity: 0;
            }

            div:last-child {
              transform: rotate(405deg) translate(-5px, -6px);
            }
          }

          div {
            width: 25px;
            height: 3px;
            background-color: var(--text-primary);
            margin: 5px;
            transition: all 0.3s ease;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }

}
