<div class="section-title">
    <h1><span class="nav-order">ii.</span> My Work History</h1>
</div>
<div class="work-history">
    <h4>Fullstack Developer <span class="work-history-item">@ <a href="https://outsourced.ph/"
                                                                 target="_blank">{{oqas}}</a></span>
    </h4>
    <h5>June 2018 - Present</h5>
    <ul>
        <li>
            <span>
            Write highly performant, maintenanable and up-to-date code for <a href="https://tribuna.ch"
                                                                              class="work-history-item"
                                                                              target="_blank">TribunaV4</a>
            </span>
        </li>
        <li>
            <span>
                Performs code reviews.
            </span>
        </li>
        <li>
            <span>
                Improve the interaction between Frontend and Backend teams.
            </span>
        </li>
        <li>
            <span>
            Responsible that always the latest and greatest Angular version is used in the project.
            </span>
        </li>
        <li>
            <span>
            Mentor less experienced developers.
            </span>
        </li>
        <li>
            <span>
            Responsible for GitLab administration.
            </span>
        </li>
    </ul>

    <h4>Software Developer <span class="work-history-item">@ <a>{{tworks}}</a></span></h4>
    <h5>June 2014 - June 2018</h5>
    <br>

    <h4>Business Applications Engineer <span class="work-history-item">@ <a
            href="https://www.trendmicro.com/"
            target="_blank">{{tm}}</a></span>
    </h4>
    <h5>June 2012 - June 2014</h5>
    <br>

    <h4>Software Engineer <span class="work-history-item">@ <a href="https://www.smartmatic.com/"
                                                               target="_blank">{{smartmatic}}</a></span>
    </h4>
    <h5>February 2012 - June 2012</h5>
    <br>

    <h4>.Net Developer <span class="work-history-item">@ <a href="https://sdsolutions.com.ph/"
                                                            target="_blank">{{sds}}</a></span>
    </h4>
    <h5>November 2010 - February 2012</h5>
    <div class="resume-container">
        <a class="link-button" target="_blank" href="../../assets/static/resume.pdf">View Resume</a>
    </div>
</div>