@font-face {
  font-family: 'LeckerliOne'; /*a name to be used later*/
  src: url('assets/fonts/LeckerliOne-Regular.ttf'); /*URL to font*/
}

:root {
  font-size: 1rem;
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --text-primary: #1f1f1f;
  --text-secondary: #0a192f;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-tertiary: rgba(255, 255, 255, 0.85);

  --link-primary: #5685bf;
  --link-secondary: #0093bc;

  --nav-primary: #0a192f;
  --nav-secondary: #47c4b2;
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  margin: 0;
  padding: 0;

  &.overlay {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: var(--text-primary);

  &:hover {
    color: var(--link-secondary);
  }
}

.dark {
  --text-primary: #ffffff;
  --link-primary: #23708e;
  --link-secondary: #0093bc;
  --text-secondary: #dcdcd1;
  --nav-primary: #0a192f;
  --nav-secondary: #47c4b2;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: rgba(35, 35, 46, .85);
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
